#list {
  background: bisque;
  width: 15%;
  min-width:120px;
  flex-shrink: 0;
  height: max-content;
}
#content {
     background: darkgray;
}
#all {
  display: flex;
  background: aqua;
  border: 1px solid black;
}
#clear{
	clear:both;
}
img{
  float: right;
  width: 40%;
  min-width:160px;
}
p{
  margin: 0;
}
